body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1000;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.profile-content {
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.profile-photo {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* Dark Theme */
.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --link-color: #bb86fc;
}

/* Light Theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #1a0dab;
}

h1, h2, h3 {
  margin-bottom: 10px;
}
p {
  line-height: 1.6;
  margin-bottom: 20px;
}