body {
  background-color: #222222;
  color: white;
}

.page-container {
  padding: 0 5%;
}

.intro-title,
.contact-title,
.portfolio-title {
  margin-bottom: 20px;
  text-align: center;
}

.avatar-image {
  max-width: 300px;
  height: 200px;
}

.project-image {
  max-height: 300px;
  height: 200px;
}

.menu-row {
  text-align: center;
  position: sticky;
  top: 0;
  padding: 0 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #222222;
}

footer {
  padding: 5px 0;
  text-align: center;
}
